extends layout

block content
    div(class='page-header')
        h1= title

    div(class='nav') 

        a(href='/club')
            if !membership
                button#clubBtn Join Secret Club 
            if membership   
                button#clubBtn Secret Club
        
        if !admin
            a(href='/admin')
                button#adminBtn Become Admin
    
        a(href='/message/create')
            button#messageBtn Create Message
        a(href='/logout') 
            button#logoutBtn Logout

    if messages 
    div(class='messagesContainer')
        each message in messages   
            div(class='individualMessage')
                if admin 
                    div(class='adminOptions')
                        a(href=`/message/${message._id}/delete`)
                            img(src='/images/remove.png' alt='remove')
                div(class='messageInfo')
                    p#title=message.title
                    p#text=message.text
                    p#author - #{message.author.first_name} #{message.author.last_name}
                div(class='messageDate')
                    p= message.formatDate(message.timestamp)
    