extends layout

block content
    div(class='page-header')
        h1= title

    div(class='nav') 
        a(href='/club')
            button Join Secret Club 
        a(href='/admin')
            button Become Admin
        a(href='/message/create')
            button Create Message
        a(href='/logout') 
            button Logout

    if messages 
    div(class='messagesContainer')
        each message in messages   
            div(class='individualMessage')
                p=message.author
                p=message.title
                p=message.text
                p= message.formatDate(message.timestamp)
    